################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinearRegression/bin/Debug
/LinearRegression/obj/Debug
/MachineLearningTest/MachineLearningTest/bin/Debug
/MachineLearningTest/MachineLearningTest/obj/Debug
